@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.display-2{
    font-family: "Barlow", sans-serif;
    font-size: 3.8rem;
    padding-bottom: 12px;
    font-weight: 900;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-i-base{
    align-items: baseline;
}
.align-i-center{
    align-items: center;
}
.border-none{
    border: none;
}
.li-none{
    list-style: none;
}
.f-w-bold{
    font-weight: bold;
}
.f-w-600{
    font-weight: 600;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.c-light-black{
    color: #8C8580;
}
.b-radius-50{
    border-radius: 50%;
}
.relative{
    position: relative;
}
.c-white{
    color: white;
}
.c-green{
    color: #89b758;
}
.bg-lace{
    background-color: #fff4e2;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: #232323;
}
.t-center{
    text-align: center;
}
.font-48{
    font-size: 48px;
}
.p-20{
    padding: 20px;
}
.b-radius-10{
    border-radius: 10px;
}
.flex-dir-col{
    flex-direction: column;
}
.f-wrap{
    flex-wrap: wrap;
}
.mx-w-100{
    max-width: 100%;
}
.c-red{
    color: #e8262e;
}
.bg-red{
    background-color: #e8262e;
}
.absolute{
    position: absolute;
}
.t-left{
    text-align: left;
}
.f-cursive{
    font-family: "Permanent Marker", cursive;
}
.font-32{
    font-size: 32px;
}
.t-no-wrap{
    text-wrap: nowrap;
}
.justify-space-around{
    justify-content: space-around;
}
.f-w-300{
    font-weight: 300;
}
.f-w-800{
    font-weight: 800;
}
.t-right{
    text-align: right;
}
.h-90{
    height: 90%;
}